/* Imports - Tipografía */
@font-face {
  font-family: "";
  src: url(""), format("woff");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-family: sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-bold);
}

/* Menu */
.menu {
  height: 12vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* .menu li {
} */

/* Home */
.home {
  height: 88vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-image: url("https://res.cloudinary.com/dahfrkwzc/image/upload/v1651848649/about%20me.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home p:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.home p:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: end;
}

/* Articulo layout grid  */
/* https://moderncss.dev/container-query-solutions-with-css-grid-and-flexbox/ */
